*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: rgb(0, 0, 0);
}

a{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

ul {
    list-style-type: none;
  }

.container-main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}


.flex-container1 a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.flex-container1 a:hover{
    color: rgb(6, 72, 122);
    opacity: 0.9;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    margin: 10px 15px 10px 0px;
}

.nav a{
    font-weight: bold;
}

.flex-container1{
    display: flex;
    background-color: #3499FF;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    font-size: 20px;
    font-weight: bold;
    color: rgb(8, 3, 93) ;
    margin: 15px;
    padding: 1px;
    display: flex;
    justify-content: center;
}

.container{
    display: grid;
    gap: 30px;
    margin-top: 30px;
    background-color: black;
    padding: 10px;
    grid-template-rows: 170px 170px 170px;
}

.item{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}