*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #202125;
    margin: 0px 50px;
}

a{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

ul {
    list-style-type: none;
  }

.container-main{
    margin: 0 auto;
    padding: 0 5px;
}


.flex-container1 a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.flex-container1 a:hover{
    color: rgb(6, 72, 122);
    opacity: 0.9;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    margin: 10px 15px 10px 0px;
}

.nav a{
    font-weight: bold;
}

.flex-container1{
    display: flex;
    background-color: #3499FF;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    font-size: 20px;
    font-weight: bold;
    color: rgb(8, 3, 93) ;
    margin: 15px;
    padding: 1px;
    display: flex;
    justify-content: center;
}

.container{
    display: grid;
    gap: 20px;
    margin-top: 30px;
    background-color: transparent;
    padding: 10px;
    grid-template-rows: 30px 250px 30px 250px 30px 250px;
}

.item{
    background-color: transparent;
    padding: 0px 10px;
    font-size: 25px;
    text-align: left;
    color: #cae962;
}

.bar{
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 0px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
}

.bar-item{
    font-size: 20px;
    background-color: steelblue;
    display: grid;
    grid-template-rows: 5fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.bar-item .bar-item-text{
    background-color: #3CB371;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 400px;
    background-color: transparent;
    padding: 10px;
}
.grid-item {
    background-color: transparent;
    padding: 20px;
    font-size: 10px;
    }
.grid-item img{
    width: 100%;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
}
.title{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
#t{
    font-size: 40;
}
#icons{
    font-size: 15;
}
#info{
    font-size: 15;
}
.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
    background-color: #3CB371 !important;
    border-radius: 25px;
}